
*{
    margin: auto;
}

body{

    margin: 0;
    background-image: url("file:///C:/Users/Azim/Desktop/My%20project%20lesson/src/img/Rectangle3.svg");

}

.container{
    width: 100%;
    max-width: 1000px;
    top: 50%;
    justify-content: center;
    border:solid;
    border-radius: 25px;
    background-color: rgba(25, 24, 24, 0.8);
    margin-top: 40px;
  
}

.header{
    display: flex;
    justify-content: space-between; 
    padding: 10px 10px 10px;
    
}

.logo{
    display: flex;
    gap: 14px;
    align-items: center;
}

.navbar{
    display: flex;
    gap: 30px;
}

.btn_orderCall{ 
    
   display: flex;
    border-radius: 10px;
    border:2px solid #F5A623;
    background-color: transparent;
    flex-direction: row !important;
    /* padding: 2px 2px ; */
    
       
}

.btn_orderCall:hover{
background-color: #F5A623;
}


.aOrderCall {
    display: flex;
    align-items: center;

}

.aOrderCall_2 {
    display: flex;
    align-items: center;

}

.btn_orderCall_2{ 
    
    position: relative;
    top: 20px;
     border-radius: 10px;
     border:2px solid #F5A623;
     background-color: transparent;
     flex-direction: row !important;
     padding: 8px 100px 8px 100px ;
 }

 .btn_orderCall_2:hover{
    background-color: #F5A623;
}

.btn_catalogs{
    position: relative;
    top: 20px;
     border-radius: 10px;
     border:2px solid #F5A623;
     background-color: transparent;
     flex-direction: row !important;
     padding: 8px 100px 8px 100px ;
}


    
.p2{
    position: relative;
    left: 20px;
    font-size: 20px;
    
}

.p2 :hover{
    color: black;
}

 

a{
    color: #ffffff !important;
    text-decoration: none !important;     
}


.blockWrapper{
    /* max-width:1000px; */
    height: 500px;    
}

.imgs{
    display: flex;
    
    position: relative;
    justify-content: center;
  
  
}

.brand_make{
    display: flex;
    position: absolute;
    
    max-width: 900px;
    height: 400px;
    z-index: 1;
    
}

.hudi_img{
    display: flex;
    position: relative;
    left: 310px;
    top: 210px;
    max-width: 350px;
    max-height: 450px;
    z-index: 2;
    
}

.vector1, .vector2, .vector3, .vector4{
    margin: 10px 10px 10px 10px; 
    max-width: 24px; 
    height: 24px; 
}
.social_media_Wrapper{
    position: absolute;
    top: 300px;
    left: 10px;
    margin-left: 30px;
    border: solid;
    max-width: 45px; 
    height: 190px;  
    background-color: rgba(25, 24, 24, 0.8);
    border-radius: 10px;

}

.h1_1{
    
    position: absolute;
    top: 320px;
    left: 280px;
    z-index: 2;
    max-width: 700px;
    height: 300px;
    color: #F5F5DC;
    font-size: 20px;    

}
.p1{
    margin-top: 15px;
}

/* table{
    margin-top: 200px;
    color: #F5F5DC;
    padding: 8px;
}
td{
    border: 1px solid;
    color: #ffffff
    
}

th{
    border: 1px solid;
    color: #ffffff;
    padding: 8px;
} */


    
    
    
    


/* .block{
    width: 200px;
    height: 200px;
    background-color: blue;
    color: aliceblue;
    font-size: 48px;
    justify-content: space-between; 
}

.block:hover{
 background-color: rgb(226, 9, 219);
} */

